<%-include('../layouts/adminHeader')%>

<section class="content-main">

    <section class="content-main py-4 d-flex justify-content-center">
        <div class="container-fluid">
            <div class="row">
                <h2 class="text-center">Add New Offer</h2>
                <div class="col-12 col-md-12">
                    <div class="card ">
                        <div class="card-body">
                            <form action="/admin/addOffer" onsubmit="return ValidateOfferForm(event)" method="post" id="offerForm">
                                <div class="form-group my-3">
                                    <label for="name">Offer name</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Type here">
                                    <div id="nameError" class="text-danger  error-message"></div>
                                </div>
                                <div class="form-group my-3">
                                    <label for="offerType">Offer type</label>
                                    <select id="offerType" name="offerType" class="form-control">
                                        <option value="category">Category</option>
                                        <option value="product">Product</option>
                                    </select>
                                </div>
                                <div id="productDiv" class="form-group my-3">
                                    <label for="product">Products</label>
                                    <select id="selectedProduct" name="product" class="form-control">
                                        <% products.forEach((product) => { %>
                                        <option value="<%= product._id %>"><%= product.name %></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <div id="categoryDiv" class="form-group my-3">
                                    <label for="category">Categories</label>
                                    <select id="selectedCategory" name="category" class="form-control">
                                        <% categories.forEach((category) => { %>
                                        <option value="<%= category._id %>"><%= category.name %></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <div class="form-group my-3">
                                    <label for="discountPercentage">Discount percentage</label>
                                    <input type="text" class="form-control" id="discountPercentage" min="currentDate()" name="discountPercentage" placeholder="10%">
                                    <div id="discountError" class="text-danger  error-message"></div>

                                </div>
                                <div class="form-group my-3">
                                    <label for="expiryDate">Expiry Date</label>
                                    <input type="date" class="form-control" id="expiryDate" name="expiryDate">
                                    <div id="expirydateError" class="text-danger error-message"></div>
                                </div>
                                <div class="container d-flex justify-content-center mt-4">
                                    <button type="submit" class="btn btn-primary">Add Offer</button>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<%-include('../layouts/adminFooter')%>

<script>
    const today = new Date().toISOString().split('T')[0];   
    let expiryDate = document.getElementById('expiryDate').setAttribute('min',today);
 
    document.addEventListener("DOMContentLoaded", function() {

    const offerTypeSelect = document.getElementById("offerType");
    const productDiv = document.getElementById("productDiv");
    const categoryDiv = document.getElementById("categoryDiv");

    function showHideDivs() {
        if (offerTypeSelect.value === "product") {
            productDiv.style.display = "block";
            categoryDiv.style.display = "none";
        } else if (offerTypeSelect.value === "category") {
            productDiv.style.display = "none";
            categoryDiv.style.display = "block";
        }
    }
    showHideDivs();
    offerTypeSelect.addEventListener("change", showHideDivs);
});

function ValidateOfferForm(event) {
    event.preventDefault();

    const name = document.getElementById('name').value;
    const offerType = document.getElementById('offerType').value;
    const product = document.getElementById('selectedProduct').value;
    const category = document.getElementById('selectedCategory').value;
    const discountPercentage = document.getElementById('discountPercentage').value;
    let expiryDate = document.getElementById('expiryDate').value;

    const nameError = document.getElementById('nameError');
    const expirydateError = document.getElementById('expirydateError');
    const discountError = document.getElementById('discountError');


    if (!name.trim()) {
        nameError.innerHTML = 'Offer name should not be empty';
        return false;
    } else {
        nameError.innerHTML = '';
    }
    
    if(!discountPercentage.trim()){
        discountError.innerHTML='discount percentage should not be empty'
        return false
    }else{
        discountError.innerHTML=''
    }
    if (!expiryDate) {
        expirydateError.innerHTML = 'Expiry date should not be empty';
        return false;
    } else {
        expirydateError.innerHTML = '';
    }
    
    expiryDate = new Date(expiryDate);
    const currentDate = new Date();

    if (expiryDate < currentDate) {
        expirydateError.innerHTML = 'Expiry date should be in the future';
        return false;
    } else {
        expirydateError.innerHTML = '';
    }


    addOffer(name, offerType, product, category, discountPercentage, expiryDate);
    return true;
}

function addOffer(name, offerType, product, category, discountPercentage, expiryDate) {
    axios.post('/admin/addOffer', {
            name,
            offerType,
            product,
            category,
            discountPercentage,
            expiryDate
        })
        .then((response) => {
            if (response.data.saved) {
                window.location.href = '/admin/offers';
            }
        })
        .catch((error) => {
            console.error('Error:', error);
        });
}
</script>