<%-include('../layouts/adminHeader')%>

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Dashboard</h2>
            <p>Whole data about your business here</p>
        </div>
        <div>
            <a href="/admin/salesReport" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Sales report</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="card card-body mb-4">
                <article class="icontext">
                    <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                    <div class="text">
                        <h6 class="mb-1 card-title">Revenue</h6>
                        <span><%=overallData[0].totalRevenue%></span>
                        <span class="text-sm"> Shipping fees are not included </span>
                    </div>
                </article>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card card-body mb-4">
                <article class="icontext">
                    <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                    <div class="text">
                        <h6 class="mb-1 card-title">Orders</h6>
                        <span><%=OrdersCount%></span>
                        <span class="text-sm"> Excluding orders in transit </span>
                    </div>
                </article>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card card-body mb-4">
                <article class="icontext">
                    <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                    <div class="text">
                        <h6 class="mb-1 card-title">Products</h6>
                        <span><%=productsCount%></span>
                        <span class="text-sm"> In <%=CategoryCount%> Categories </span>
                    </div>
                </article>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card card-body mb-4">
                <article class="icontext">
                    <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
                    <div class="text">
                        <h6 class="mb-1 card-title"><%=monthName%> month earnings</h6>
                        <span><%=monthlyData[0].totalRevenue%></span>
                        <span class="text-sm"> from <%=monthlyData[0].totalSalesCount%> orders</span>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-8 col-lg-12">
            <div class="card mb-4">
                <article class="card-body">
                    <h5 class="card-title">Sale statistics</h5>
                    <select class="form-select-sm" id="chartType">
                        <option value="monthly">monthly sales</option>
                        <option value="yearly">yearly sales</option>
                    </select>
                    <canvas id="myChart" height="120px"></canvas>
                    
                </article>
            </div>
        
        </div>
        <!-- <div class="col-xl-4 col-lg-12">
            <div class="card mb-4">
                <article class="card-body">
                    <h5 class="card-title">Revenue Base on Area</h5>
                    <canvas id="myChart2" height="217"></canvas>
                </article>
            </div>
        </div> -->
    </div>
    <div class="row">
        <div class=" col-lg-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">5 Best selling product</h5>
                    <table class="table ">
                        <thead>
                            <tr>
                                <th>no.</th>
                                <th>product</th>
                                <th>count</th>
    
                            </tr>
                        </thead>
                        <tbody>
                            <%if(bestSoldProducts){%>
                                <%bestSoldProducts.forEach((product,i)=>{%>
                                    <tr>
                                        <td><%=i+1%></td>
                                        <td><%=product.name%></td>
                                        <td><%=product.count%></td>
        
                                    </tr>
                                <%})%>
                            <%}%>
                        </tbody>
                        
                    </table>
                    
                </div>
            </div>
        
        </div>
        <div class=" col-lg-6">
            <div class="card mb-4">
                <article class="card-body">
                    <h5 class="card-title">Best selling category</h5>
                    
                    <table class="table ">
                        <thead>
                            <tr>
                                <th>no.</th>
                                <th>category</th>
                                <th>count</th>
    
                            </tr>
                        </thead>
                        <tbody>
                            <%if(bestSoldCategory){%>
                                <%bestSoldCategory.forEach((category,i)=>{%>
                                    <tr>
                                        <td><%=i+1%></td>
                                        <td><%=category._id%></td>
                                        <td><%=category.count%></td>
        
                                    </tr>
                                <%})%>
                            <%}%>
                        </tbody>
                    </table>
                </article>
            </div>
        
        </div>
    </div>
    
    
</section>
<!-- content-main end// -->

            
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>   
    document.addEventListener('DOMContentLoaded',()=>{
            
        function fetchSalesData(chartType){

            axios.post('/admin/getChartData',{
                chartType
            })
            .then((response)=>{
                const data=response.data.barData;
                showChart(chartType,data)
            })
        }

        let chartType='monthly';
        fetchSalesData(chartType);

        function showChart(chartType,salesData){

            const ctx = document.getElementById('myChart');
            const data={
                labels: chartType=='monthly'? 
                    ['jan', 'feb', 'mar', 'april', 'may', 'june', 'july', 'aug' ,'sep' ,'oct' ,'nov' ,'dec']
                    :[2018,2019,2020,2021,2022,2023,2024,2025,2026,2027],
                datasets: [{
                    label: chartType=='monthly'?'monthly sales':'yearly sales',
                    data: salesData,
                    borderWidth: 1
                }]
            };

            window.myChart=new Chart(ctx, {
                type: 'bar',
                data,
                options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
            });
        }

        document.getElementById('chartType').addEventListener('change',()=>{

            const chartTypeValue=document.getElementById('chartType').value;
            window.myChart.destroy();
            fetchSalesData(chartTypeValue);
            
        })
    })

</script>

<%-include('../layouts/adminFooter')%>
 