<%-include('../layouts/adminHeader')%>
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Edit Category</h2> 
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body col-md-6" >
            <form>
                <div class="mb-4">
                    <label for="product_name" class="form-label">Name</label>
                    <input type="text" placeholder="Type here" class="form-control" value="<%=categoryData.name%>" id="categoryName" />
                    <input type="text" id="categoryId" value="<%=categoryData._id%>" hidden>
                </div>
                <div class="mb-4">
                    <label class="form-label">Description</label>
                    <textarea class="form-control" id="description"><%=categoryData.description%></textarea>
                </div>
                <div class="mb-5">
                    <a href="/admin/category" class="btn btn-primary ">Back</a>
                    <button type="button" class="btn btn-primary" onclick="EditCategory()">Edit Category</button>
                </div>
            </form>
        </div>
    </div>
    
</section>
<script>
    function EditCategory() {
        const name = document.getElementById("categoryName").value;
        const description = document.getElementById("description").value;
        const categoryId = document.getElementById("categoryId").value;

        

        fetch("/admin/editCategory", {
            method: "POST",
            headers: {
                "content-type": "application/json;charset=utf-8",
            },
            body: JSON.stringify({
                name,
                description,
                categoryId
            }),
        })
            .then((response) => response.json())
            .then((data) => {
                if(data.update){
                    window.location.href='/admin/category'
                }else{
                    console.log('not updated');
                }
            })
            .catch((err) => {
                console.log("error:", err);
            });
    }
    
</script>

<%-include('../layouts/adminFooter')%>
