
<%-include('../layouts/adminHeader')%>
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Sales report</h2> 
        </div>
        <div>
            <a type="button" class="btn btn-primary" onclick="generatePDf()">Download pdf</a>
        </div>
        <div>
            <a type="button" class="btn btn-primary" onclick="generateExcel()">Download Excel</a>
        </div>
    </div>
    <div class="card mb-4 ">
        <header class="card-header">
            <div class="row align-items-center">
                <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                    <div class="custom_select">
                        <select onchange="filterSales(this.value)" class="form-select select-nice">
                            <option selected>choose one</option>
                            <option  <% if (filterCriteria === 'daily') { %>selected<% } %>>daily</option>
                            <option  <% if (filterCriteria === 'weekly') { %>selected<% } %>>weekly</option>
                            <option  <% if (filterCriteria === 'monthly') { %>selected<% } %>>monthly</option>
                            <option  <% if (filterCriteria === 'yearly') { %>selected<% } %>>yearly</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <p>From:</p>
                    <input type="date" id="startDate" class="form-control" />
                </div>
                <div class="col-md-2 col-6">
                    <p>To:</p>
                    <input type="date" id="endDate" class="form-control" />
                </div>
                <div class="col-md-2 col-6 mt-4">
                    <button class="btn btn-secondary " onclick="filterSales()">generate</button>
                </div>
                
            </div>
        </header>
        <div class="card-body " id="download-part">
            <div class="d-flex justify-content-center my-3">
                <h3>Homiqo sales report</h3>
            </div>
            <div class=" text-center  mt-5">
                <p style="font-size: medium;"><span class="fw-bold ">total sales count:</span><%=overallData[0]?.totalSalesCount%></p>
                <p style="font-size: medium;"><span class="fw-bold">total sales amount:</span><%=overallData[0]?.totalRevenue%></p>
                <p style="font-size: medium;"><span class="fw-bold ">total discount amount:</span>:n/a</p>

            </div>
            <%if(orders.length>1){%>
                <table class="table text-center "id='reloadDiv'>
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th class="text-dark " scope="col"><%=dateOrTime%></th>
                            <th class="text-dark " scope="col">Total sales count</th>
                            <th class="text-dark " scope="col">sales amount</th>
                            <th class="text-dark " scope="col">Total Offer Discount </th>
                            <th class="text-dark " scope="col">Total Coupon Discount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%orders.forEach((order,i)=>{%>
                            <tr>
                                <td><%=i+1%></td>
                                <td><%=order._id%></td>
                                <td><%=order.totalSalesCount%></td>
                                <td><%=order.totalRevenue%></td>
                                <td>nil</td>
                                <td>nil</td>
                            </tr>
                        <%})%>
                        
                    </tbody>
                </table>
            <%}%>
        </div>
        <!-- card-body end// -->
    </div>
    <!-- card end// -->
    <div class="pagination-area mt-30 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <li class="page-item active"><a class="page-link" href="#">01</a></li>
                <li class="page-item"><a class="page-link" href="#">02</a></li>
                <li class="page-item"><a class="page-link" href="#">03</a></li>
                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">16</a></li>
                <li class="page-item">
                    <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</section>
<!-- content-main end// -->

<!-- Excel download-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>

<!--pdf download-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js" integrity="sha512-YcsIPGdhPK4P/uRW6/sruonlYj+Q7UHWeKfTAkBW+g83NKM+jMJFJ4iAPfSnVp7BKD4dKMHmVSvICUbE/V1sSw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    function generatePDf(){
        const element=document.getElementById('download-part');

        html2pdf(element,{
            filename:'Homiqo-sales-report'
        });
    }

    function generateExcel(){
        
        const table=document.getElementById('download-part');
        // Convert table to workbook
        const wb = XLSX.utils.table_to_book(table);
        // Save workbook as XLSX file
        XLSX.writeFile(wb, 'sales-report-excel.xlsx');
    }

</script>

<script>
    function filterSales(criteria){

        if(criteria){
            const currentUrl=new URL(window.location.href);
            currentUrl.searchParams.delete('start');
            currentUrl.searchParams.delete('end');
            currentUrl.searchParams.set('filter', criteria);
            window.location.href=currentUrl.href;                   
        }else{
            
            const startDate=document.getElementById('startDate').value
            const endDate=document.getElementById('endDate').value

            const currentUrl=new URL(window.location.href);
            currentUrl.searchParams.set('start', startDate);
            currentUrl.searchParams.set('end',endDate);
            window.location.href=currentUrl.href;
        }

    }
</script>


<%-include('../layouts/adminFooter')%>
