<%-include('../layouts/header')%>

<!-- Checkout Section Start -->
<div class="section section-padding mt-5">
    <div class="container">
        <div class="checkout-info">
            <p class="info-header error">
                <i class="fa fa-exclamation-circle"></i>
                <strong>Error:</strong> Username is required.
            </p>
        </div>

        <div class="checkout-info">
            <p class="info-header">
                <i class="fa fa-exclamation-circle"></i> Have a coupon?
                <a data-bs-toggle="collapse" href="">Click here to enter your code</a>
            </p>

            <div class="collapse" id="coupon">
                <div class="card-body">
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="single-form">
                                    <input type="email" placeholder="Coupon code" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="single-form">
                                    <button class="btn btn-primary btn-hover-dark">Coupon</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <%if(!userAddresses?.address.length<1){%>
            <div class="col checkout-form">
                <div class="checkout-title">
                    <h4 class="title">Billing Address</h4>
                </div>
                <div class="row">
                    <div class="col-lg-7">
                        <%if(userAddresses){%>
                            <%userAddresses.address.forEach((address,index)=>{%>
                                <div class=" text-start " >
                                    <br>
                                    <div class="card card-dashboard">
                                        <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1)">
                                            <input type="checkbox" checked >
                                            <p> 
                                                Name:  <%=address.name%> <br>
                                                Mobile:  <%=address.phone%>  <br>    
                                                City:  <%=address.city%><br>       
                                                Email:   <%=address.email%><br>      
                                                Landmark:   <%=address.landmark%><br>       
                                                Address:    <%=address.address%><br>        
                                                Landmark:   <%=address.state%><br>      
                                                Pincode:    <%=address.pincode%><br>
                                                </p>  

                                                <a class="g-4" onclick="editAddress('<%=address._id%>')" data-bs-toggle="modal" data-bs-target="#editAddressModal" id="editAddress"><i
                                                    class="fa fa-edit"></i></a>
                                                <a class="g-4" onclick="removeAddress('<%=address._id%>')" id="removeAddress"><i
                                                    class="fa fa-trash"></i></a>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                        <%}%>
                    </div>      
                
        
                <%}else{%>
                    <form id="addAddress">
                        <div class="row">
                            <div class="col-lg-7">
                                <!-- Checkout Form Start -->
                                <div class="checkout-form">
                                    <div class="checkout-title">
                                        <h4 class="title">Billing Address new:</h4>
                                    </div>
            
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="single-form">
                                                <input type="text" name="name" id="name" placeholder="name" />
                                                <p id="nameError" class="error-message"></p>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="single-form">
                                                <input type="text" name="phone" id="phone" placeholder="mobile number" />
                                                <p id="mobileError" class="error-message"></p>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="single-form">
                                                <input type="text" name="email" id="email" placeholder="Email address" />
                                                <p id="emailError" class="error-message"></p>
                                            </div>
                                        </div>
            
                                        <div class="col-sm-12">
                                            <div class="single-form">
                                                <input type="text" name="address" id="address" placeholder="Flat, House no., Building, Company, Apartment" />
                                                <p id="addressError" class="error-message"></p>
                                            </div>
                                        </div>
            
                                        <div class="col-sm-12">
                                            <div class="single-form">
                                                <input type="text" name="landmark" id="landmark" placeholder="Landmark" value="" />
                                                <p id="landmarkError" class="error-message"></p>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="single-form">
                                                <input type="text" name="city" id="city" placeholder="city" />
                                                <p id="pincodeError" class="error-message"></p>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="single-form">
                                                <input type="text" name="state" id="state" placeholder="state" />
                                                <p id="pincodeError" class="error-message"></p>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="single-form">
                                                <input type="text" name="pincode" id="pincode" placeholder="Pincode" />
                                                <p id="pincodeError" class="error-message"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-form">
                                    <button type="button" onclick="addAddress()" class="btn btn-primary btn-hover-dark d-block">add address</button>
                                </div>
                                <!-- Checkout Form End -->
                            </div>
                            
                <%}%>

                <!-- order area -->

                <div class="col-lg-5">
                    <div class="checkout-order">
                        <div class="checkout-title">
                            <h4 class="title">Your Order</h4>
                        </div>

                        <div class="checkout-order-table table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="Product-name">Product</th>
                                        <th class="Product-price">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="Product-name">
                                            <p>Bodysuit With Long Sleeves × 1</p>
                                        </td>
                                        <td class="Product-price">
                                            <p>$150.00</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="Product-name">
                                            <p>Classic Polo Shirt × 1</p>
                                        </td>
                                        <td class="Product-price">
                                            <p>$150.00</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="Product-name">
                                            <p>Trousers With Side Stripe × 1</p>
                                        </td>
                                        <td class="Product-price">
                                            <p>$150.00</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="Product-name">
                                            <p>Biker Jacket × 1</p>
                                        </td>
                                        <td class="Product-price">
                                            <p>$150.00</p>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="Product-name">
                                            <p>Subtotal</p>
                                        </td>
                                        <td class="Product-price">
                                            <p>$150.00</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="Product-name">
                                            <p>Shipping</p>
                                        </td>
                                        <td class="Product-price">
                                            <ul class="shipping-list">
                                                <li class="radio">
                                                    <input type="radio" name="shipping" id="radio1" checked />
                                                    <label for="radio1"><span></span> Flat Rate</label>
                                                </li>
                                                <li class="radio">
                                                    <input type="radio" name="shipping" id="radio2" />
                                                    <label for="radio2"><span></span> Free Shipping</label>
                                                </li>
                                                <li class="radio">
                                                    <input type="radio" name="shipping" id="radio3" />
                                                    <label for="radio3"><span></span> Local Pickup</label>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="Product-name">
                                            <p>Total</p>
                                        </td>
                                        <td class="total-price">
                                            <p>$600.00</p>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        

                        <div class="checkout-payment">
                            <ul>
                                <li>
                                    <div class="single-payment">
                                        <div class="payment-radio radio">
                                            <input type="radio" name="radio" id="bank" />
                                            <label for="bank"><span></span> Direct bank transfer </label>

                                            <div class="payment-details">
                                                <p>Please send a Check to Store name with Store Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-payment">
                                        <div class="payment-radio radio">
                                            <input type="radio" name="radio" id="check" />
                                            <label for="check"><span></span> Check payments </label>

                                            <div class="payment-details">
                                                <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-payment">
                                        <div class="payment-radio radio">
                                            <input type="radio" name="radio" id="cash" checked="checked" />
                                            <label for="cash"><span></span> Cash on Delivery</label>

                                            <div class="payment-details">
                                                <p>Pay with cash upon delivery.</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-payment">
                                        <div class="payment-radio radio">
                                            <input type="radio" name="radio" id="paypal" />
                                            <label for="paypal"
                                                ><span></span> Paypal
                                                <img class="payment" src="assets/images/payment-2.html" alt="" />
                                                <a href="#">What is PayPal?</a></label
                                            >

                                            <div class="payment-details">
                                                <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            <div class="single-form">
                                <a class="btn btn-primary btn-hover-dark d-block" href="#">Place Order</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Checkout Section End -->

<script>
    function addAddress() {
        const name = document.getElementById("name").value;
        const phone = document.getElementById("phone").value;
        const email = document.getElementById("email").value;
        const address = document.getElementById("address").value;
        const landmark = document.getElementById("landmark").value;
        const city = document.getElementById("city").value;
        const state = document.getElementById("state").value;
        const pincode = document.getElementById("pincode").value;

        console.log("bod:", name, phone, email, address, landmark, state, city, pincode);

        fetch("/addAddress", {
            method: "POST",
            headers: {
                "content-type": "application/json;charset=utf-8",
            },
            body: JSON.stringify({
                name,
                phone,
                email,
                address,
                landmark,
                state,
                city,
                pincode,
            }),
        })
            .then((res) => res.json())
            .then((data) => {
                if (data.added) {
                    window.location.reload();
                } else {
                }
            })
            .catch((error) => {
                console.log(error);
            });
    }

    function removeAddress(addressId) {
        console.log("reched delete address::::::::::::");

        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!",
        }).then((result) => {   

            if (result.isConfirmed) {
                fetch("/removeAddress", {
                    method: "POST",
                    headers: {
                        "content-type": "application/json;charset=utf-8",
                    },
                    body: JSON.stringify({
                        addressId,
                    }),
                }).then(async(res) => {
                    if (res.ok) {
                       await Swal.fire({
                            title: "Removed!",
                            text: "Your address is removed.",
                            icon: "success",
                        });
                        window.location.reload();

                    } else {
                        Swal.fire({
                            title: " Not Deleted!",
                            text: "there is a problem while delete",
                            icon: "error",
                        });
                    }
                });
            }
        });
    }
</script>

<%-include('../layouts/footer')%>
