<%- include('../layouts/header.ejs') -%>
<br />
<!-- <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#"><i class="fas fa-home me-1"></i>Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="#">Library</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <a href="#">Data</a>
      </li>
    </ol>
  </nav>
   -->
<div class="section section-padding">
    <div class="container">
        <hr />
        <br />
        <div class="row">
            <div class="col-md-12">
                <h3 class="mt-4 text-warning">ORDER DETAILS</h3>
                <br />
                <h4 class="name text-muted">OrderId: <%=orderData._id%></h4>
                <p class="text-muted">
                    <b>Ordered Date:</b>
                    <%=orderData.orderDate.toLocaleDateString('en-US', { weekday: 'short' , year: 'numeric' , month: 'short' , day: 'numeric' })%>
                    <br /><b>Payment Method:</b> <%= orderData.payment %><br />
                    <b>Address:</b>
                    <%= orderData.deliveryAddress.name %>,<%= orderData.deliveryAddress.address %> <br />
                    <b>Shipping:</b><%= orderData.deliveryAddress.pincode %>,<%= orderData.deliveryAddress.city %>
                    <br />
                </p>
            </div>
            <div class=" col-md-12 ">
                <% if (orderData.products.length > 0) { %>
                <h3 class="mb-4 mt-5">Ordered Products</h3>
                <div class="table-responsive ">
                    <table class="table" style="border: 1px solid grey">
                        <thead>
                            <tr class="text-center">
                                <th class="no fw-bold">No</th>
                                <th class="date fw-bold">Image</th>
                                <th class="total fw-bold">Amount</th>
                                <th class="payment fw-bold">Details</th>
                                <th class="invoice fw-bold">Status</th>
                                <th class="actions fw-bold">Actions</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <% orderData.products.forEach((product, index)=> { %>
                            <tr>
                                <td><%=index+1%></td>
                                <td>
                                    <img src="multer/products/<%= product.productId.images.image1 %>" alt="" class="" style="max-width: 180px" />
                                </td>

                                <td>
                                    <h5 class="product-details"><a href="/productDetails?id=<%=product.productId._id%>"> <%= product.productId.name %> </a></h5>
                                </td>
                                <td>
                                    <p class="product-details">
                                        <%= product.productId.categoryId.name %> <br />
                                        Price: ₹<%= product.price %> <br />
                                        Quantity: <%= product.quantity %> <br />
                                        Total: ₹<%= product.totalPrice %> <br />
                                    </p>
                                </td>
                                <td>
                                    <h5 id="reloadPart" ><%=product.productStatus%></h5>
                                
                                </td>
                                <td> 
                                    <%if(product.productStatus=='delivered'){%>
                                    <h5><a onclick="returnOrder('<%=orderData._id%>','<%= product.productId._id %>')" class="btn" style="background-color: rgb(240, 88, 0)">Return</a></h5>

                                    <%}else if(product.productStatus=='canceled'){%>
                                        <h5><a id="cancelButton" href="/productDetails?id=<%=product.productId._id%>" class="btn" style="background-color: rgb(51, 255, 0)">buy again</a></h5>
                                    <%}else{%>
                                        <h5><a id="cancelButton" onclick="cancelOrder('<%=orderData._id%>','<%= product.productId._id %>')" class="btn" style="background-color: rgb(255, 208, 0)">cancel</a></h5>
                                    <%}%>
                                </td>
                            </tr>
                            <%})%>
                        </tbody>
                    </table>        
                </div>
                <% } %>
            </div>
            <div>
                <p>Amount after all discount</p>
                <p><b>Order total:</b><%=orderData.subTotal%></p>
            </div>
        
            
        </div>
    </div>
</div>

<script>
    async function returnOrder(orderId,productId){
        const { value: text } = await Swal.fire({
            input: "textarea",
            inputLabel: "Reason for returning product",
            inputPlaceholder: "Type your reason here...",

            inputAttributes: {
                "aria-label": "Type your message here",
            },
            showCancelButton: true,

            preConfirm:(value)=>{
                if(!value){
                    Swal.showValidationMessage("Please enter a reason for cancel.");
                }
                return value;
            }
           
        });

        if(text){
            axios.post('/returnProduct')
        }
    }



    async function cancelOrder(orderId,productId) {
        const { value: text } = await Swal.fire({
            input: "textarea",
            inputLabel: "Reason for cancel",
            inputPlaceholder: "Type your message here...",

            inputAttributes: {
                "aria-label": "Type your message here",
            },
            showCancelButton: true,
            preConfirm:(value)=>{
                if(!value){
                    Swal.showValidationMessage("Please enter a reason for cancel.");
                }
                return value;
            }
           
        });
        if(text){
            fetch("/cancelProductOrder", {
                method: "POST",
                headers: {
                    "content-type": "application/json;charset=utf-8",
                },
                body: JSON.stringify({
                    orderId,
                    productId,
                    text
                }),
            })
            .then((res)=>res.json())
            .then((data)=>{
                // console.log('data:',data);
                
                const updatedProduct=data.updateData.products.find((product)=> productId==productId);
                console.log('updatedProduct:',updatedProduct);
                Swal.fire({
                    title: "canceled ",
                    text: "canceled product order",
                }).then(()=>{
                    window.location.reload()
                })

                const statusElement=document.getElementById('reloadPart');
                statusElement.innerHTML=`<h5 id="reloadPart">${updatedProduct.productStatus}</h5>`;

            })
            
            .catch((error) => {
            // Handle errors
            console.error(error);
            Swal.fire({
                title: "Error",
                text: "An error occurred while canceling the order.",
                icon: "error"
            });
        });  
        }          
    }
</script>
