<%-include('../layouts/header.ejs')%>
 <!-- <style>
    .image-container {
  position: relative;
  overflow: hidden;
}

.image-container img {
  transition: transform 0.9s ease;
}

.image-container:hover img {
  transform: scale(2.2); /* Adjust the scale factor as needed */
}
</style>
<div class="image-container">
    <img src="" alt="Image">
  </div> -->

<div class="" id="quickView">
    <div class="" style="margin-top: 150px; margin-bottom: 150px;">
        <div class="">
            <div class="container mt-3 mx-auto ">
                <div class="row">
                    <div class="d-flex align-content-center col-md-4 ">
                        <!-- Quick View Images Start -->
                        <div class="quick-view-images">
                            <!-- Quick Gallery Images Start -->
                            <div class="quick-gallery-images text-start ">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="single-img">
                                                <img src="/multer/products/<%=productData.images.image1%>" alt="Product Image" />
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="single-img">
                                                <img src="/multer/products/<%=productData.images.image2%>" alt="Product Image" />
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="single-img">
                                                <img src="/multer/products/<%productData.images.image1%>" alt="Product Image" />
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="single-img">
                                                <img src="/multer/products/<%productData.images.image1%>" alt="Product Image" />
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="single-img">
                                                <img src="/multer/products/<%productData.images.image1%>" alt="Product Image" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Quick Gallery Images End -->

                            <!-- Quick Gallery Thumbs Start -->
                            <div class="quick-gallery-thumbs text-end">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="/multer/products/<%=productData.images.image1%>" alt="Product Thumbnail" />
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/multer/products/<%=productData.images.image2%>" alt="Product Thumbnail" />
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/multer/products/<%=productData.images.image3%>" alt="Product Thumbnail" />
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/multer/products/<%=productData.images.image4%>" alt="Product Thumbnail" />
                                        </div>
                                    </div>
                                </div>
                                <!-- Add Arrows -->
                                <div class="swiper-button-prev">
                                    <i class="pe-7s-angle-left"></i>
                                </div>
                                <div class="swiper-button-next">
                                    <i class="pe-7s-angle-right"></i>
                                </div>
                            </div>
                            <!-- Quick Gallery Thumbs End -->
                        </div>
                        <!-- Quick View Images End -->
                    </div>
                    <div class="col-md-6">
                        <!-- Quick View Description Start -->
                        <div class="quick-view-description">
                            <h4 class="product-name">
                                <%=productData.name%>
                            </h4>
                            <div class="price mt-2">
                                <span class="sale-price">₹<%=productData.price%></span>
                                <span class="old-price">₹<%=productData.price+10000%></span>
                            </div>
                            <div class="review-wrapper">
                                <div class="review-star">
                                    <div class="star" style="width: 80%"></div>
                                </div>
                                <p>( 10 Customer Review )</p>
                            </div>
                            <div class="product-color">
                                <span class="lable">Color:</span>
                                <ul>
                                    <li>
                                        <input type="radio" name="colors" id="quick-color1" />
                                        <label for="quick-color1"><span class="color-blue"></span></label>
                                    </li>
                                    <li>
                                        <input type="radio" name="colors" id="quick-color2" />
                                        <label for="quick-color2"><span class="color-gray"></span></label>
                                    </li>
                                    <li>
                                        <input type="radio" name="colors" id="quick-color3" />
                                        <label for="quick-color3"><span
                                            class="color-dark-blue"
                                        ></span></label>
                                    </li>
                                    <li>
                                        <input type="radio" name="colors" id="quick-color4" />
                                        <label for="quick-color4"><span
                                            class="color-gray-dark"
                                        ></span></label>
                                    </li>
                                </ul>
                            </div>
                            <div class="single-info mt-3">
                                <span class="lable">Category:</span>
                                <span class="value">
                                <a href="#"><%=productData.categoryId.name%></a>
                                </span>
                            </div>

                            <p>
                                <%=productData.description%>
                            </p>

                            <div class="single-info mt-3">
                                <span class="lable">Stock:</span>
                                    <%if(productData.quantity<11){%>
                                        <span class="value text-danger">hurry! only few left</span>
                                    <%}else if(productData.quantity>11){%>
                                        <span class="value">Available</span>
                                    <%}else if(productData.quantity<1){%>
                                        <span class="value text-danger ">Out of Stock</span>
                                    <%}%>
                                
                            </div>



                            <div class="product-meta">
                                <div class="meta-action">
                                    <button class="btn btn-dark btn-hover-primary">
                                        Add To Cart
                                    </button>
                                </div>
                                <div class="meta-action">
                                    <a class="action" href="#"><i class="pe-7s-like"></i></a>
                                </div>
                                <div class="meta-action">
                                    <a class="action" href="#"><i class="pe-7s-shuffle"></i></a>
                                </div>
                            </div>

                            <div class="product-info">
                               
                                <div class="single-info">
                                    <span class="lable">tag:</span>
                                    <span class="value"
                                    ><a href="#">Furniture</a></span>
                                </div>
                                <div class="single-info">
                                    <span class="lable">Share:</span>
                                    <ul class="social">
                                        <li>
                                            <a href="#"><i class="fa fa-facebook-f"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-dribbble"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i
                                                class="fa fa-pinterest-p"
                                            ></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Quick View Description End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%-include('../layouts/footer.ejs')%>
